<div class="main-container">
    <div class="data-container animated fadeIn">

        <div class="Wrapper shadow-lg">
            <div class="title">
                <label class="h4">Editar Datos de Usuario</label>
            </div>
            <div class="form">
                <div class="input_field">
                    <label for="ids" class="label">
                        <span>Tipo De Documentación</span>
                    </label>
                    <input list="ids" class="input">
                    <datalist id="ids">
                        <option value="Cedula">Cedula</option>
                        <option value="Pasaporte">Pasaporte</option>
                    </datalist>
                </div>

                <div class="input_field">
                    <label for="NDoc" class="label">
                        <span>Formato</span>
                    </label>
                    <input list="format" class="input">
                </div>

                <div class="input_field">
                    <label for="NDoc" class="label">
                        <span>Nº De Documento</span>
                    </label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Nombres</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Apellidos</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Fecha De Nacimiento</label>
                    <input type="date" class="input" min="1930-01-01" max="2001-01-01" required>
                </div>

                <div class="input_field">
                    <label>Pais</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Ciudad</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Subdivisión</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Domicilio</label>
                    <input type="text" class="input" required>
                </div>

                <div class="btn-center mt-4">
                    <button class="btn btn-primary btn1-center">Actualizar</button>
                    <button class="btn btn-success btn2-center">Guardar</button>
                </div>
            </div>
        </div>

    </div>


</div>