.black {
    background-color: #202225;
}
.gray {
    background-color: #2F3136;
}
.normal-green {
    background-color: #39642E;
}
.light-green {
    background-color: #558840;
}
.white {
    color: white;
}
.toolbar-space{
    flex: 1 1 auto;
}