<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 full-screen animated fadeIn">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Catálogo de Roles</h1>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <a [routerLink]="['/admin', 'roles-add']" class="btn btn-sm btn-outline-secondary">Añadir</a>
          <button type="button" class="btn btn-sm btn-outline-secondary">Exportar</button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <span data-feather="calendar"></span>
          Más Recientes
        </button>
      </div>
    </div>


    <h2>Lista:</h2>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.role_Id}}</td>
            <td>{{role.role_Name}}</td>
            <td>{{role.role_Description}}</td>
            <td *ngIf="role.isActive">Activo</td>
            <td *ngIf="role.isActive === false">Inactivo</td>
            <td>
              <a [routerLink]="['/admin', 'roles-edit', role.role_Id]">
                <td>Editar</td>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
