<div class="main-container">
    <div class="appointment-container animated fadeIn">
        <div class="Wrapper shadow-lg">
            <div class="title">
                <label class="h4">Denegar Solicitud</label>
            </div>
            <div class="form">

                <div class="input_field">
                    <label>Redactar Motivo</label>
                    <input type="text" class="input" required style="height: 100px;">
                </div>

                <div class="mt-5">
                    <button [routerLink]="['/admin', 'account-request-all']" class="btn btn-danger">Denegar</button>
                </div>

            </div>
        </div>
    </div>
</div>