<div class="main-container">

    <div class="appointment-container animated fadeIn">
        <div class="Wrapper shadow-lg">
            <div class="title">
                <label class="h4">Añadir Identificación</label>
            </div>
            <form [formGroup]="form">
                <div class="form">

                    <div class="input_field">
                        <label>Tipo de Identificación</label>
                        <input type="text" class="input" required formControlName="identification_Type">
                    </div>
    
                    <div class="input_field">
                        <label>Descripción</label>
                        <input type="text" class="input" required formControlName="identification_Type_description">
                    </div>
    
    
                    <div class="mt-4">
                        <button (click)="submit()" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>