<div class="grid-container animated fadeIn">
    <h1 class="mat-h1">Gestión de Solicitudes de Ventas</h1>
    <mat-grid-list cols="3" rowHeight="500px">
        <mat-grid-tile>

            <mat-card class="dashboard-card shadow-lg">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Solicitudes Pendientes</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image
                    src="https://www.cyberclick.es/hs-fs/hubfs/blog/Dashboard-de-Metricfy.jpg?width=900&name=Dashboard-de-Metricfy.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        En este modulo usted podrá ver estadísticas de las transacciones de Bolnagro a través de
                        SIBAGRO.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a [routerLink]="['/admin', 'trading-request-all']" mat-button class="btn btn-success">Ir</a>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

            <mat-card class="dashboard-card shadow-lg">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Solicitudes Denegadas</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image
                    src="https://www.cyberclick.es/hs-fs/hubfs/blog/Dashboard-de-Metricfy.jpg?width=900&name=Dashboard-de-Metricfy.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        En este modulo usted podrá ver estadísticas de las transacciones de Bolnagro a través de
                        SIBAGRO.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a  mat-button class="btn btn-success">Ir</a>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
        <mat-grid-tile>

            <mat-card class="dashboard-card shadow-lg">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Historial de Solicitudes</mat-card-title>
                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image
                    src="https://www.cyberclick.es/hs-fs/hubfs/blog/Dashboard-de-Metricfy.jpg?width=900&name=Dashboard-de-Metricfy.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        En este modulo usted podrá ver estadísticas de las transacciones de Bolnagro a través de
                        SIBAGRO.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <a  mat-button class="btn btn-success">Ir</a>
                </mat-card-actions>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>
