.app__background {
    background-image: url(https://cdn.pixabay.com/photo/2016/09/21/04/46/barley-field-1684052_960_720.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}
