<app-navbar></app-navbar>

<!-- BLOQUE DE CODIGO, QUE CONTIENE EL ANTIGUO CATEGORIES PAGE -->
<!-- <div class="row row-cols-1 row-cols-md-3 g-4 padding">
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/ofertas_promociones.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Promociones</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/categorias.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Categorias</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/recientes.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Recientes</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/mas_vendidos.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Más Vendidos</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/mejor_calificacion.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Mejores Calificaciones</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/oferta_temporada.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Ofertas de Temporada</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/granos.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Granos</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/maquinarias.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Maquinarias</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card shadow-lg animated fadeIn fast">
            <img src="assets/img/ganados.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title">Ganado</h3>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <div class="text-center">
                    <a href="#" class="btn btn-primary">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">GRANOS</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_cereales.png" alt="granos, cereales, semillas">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GRANOS</p> -->
                        <h3 class="product-name">CEREALES</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_leguminosos.png" alt="frijoles, garbansos, leguminosas">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GRANOS</p> -->
                        <h3 class="product-name">LEGUMINOSOS</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_oleaginosos.png" alt="granos para aceites, oleaginosas">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GRANOS</p> -->
                        <h3 class="product-name">OLEAGINOSOS</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_especies.png" alt="especies, condimentos">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GRANOS</p> -->
                        <h3 class="product-name">Especies</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-4 mb-3">
                <div class="section-title text-center">
                    <h3 class="title">MAQUINARIA</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_labranza.png" alt="tractor rastra">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">MAQUINARIA</p> -->
                        <h3 class="product-name">LABRANZA</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_labores culturales.png" alt="máquina fumigadora">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">MAQUINARIA</p> -->
                        <h3 class="product-name">LABORES CULTURALES</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_siembra.png" alt="máquina sembradora">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">MAQUINARIA</p> -->
                        <h3 class="product-name">SIEMBRA</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_cosecha.png" alt="máquina cosechadora de trigo">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">MAQUINARIA</p> -->
                        <h3 class="product-name">COSECHA</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mt-4 mb-3">
                <div class="section-title text-center">
                    <h3 class="title">GANADO</h3>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_bovinos.png" alt="vacas, bovinos">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GANADO</p> -->
                        <h3 class="product-name">BOVINOS</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_equinos.png" alt="caballos, equinos">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GANADO</p> -->
                        <h3 class="product-name">EQUINOS</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_porcinos.png" alt="porcinos, cerdos">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GANADO</p> -->
                        <h3 class="product-name">PORCINOS></h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /product -->

            <!-- product -->
            <div class="col-lg-3 col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="assets/img/cat_ovinos.png" alt="ovejas, ovinos">
                    </div>
                    <div class="product-body">
                        <!-- <p class="product-category">GANADO</p> -->
                        <h3 class="product-name">OVINOS</h3>
                        <h4 class="product-price">Ver Más</h4>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i></button>
                            <button class="add-to-cart"><i class="fa fa-shopping-cart"></i></button>
                        </div>
                    </div>
                </div>
            </div>        

        </div>
    </div>
</div>

<app-footer></app-footer>