<nav class="navbar navbar-expand-lg bg-light-green">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <ul class="navbar-nav  m-auto white">

        <li class="m-2">
          <a class="decoration-none white">
            <i class="fa fa-phone orange m-2"></i>
            +505 8671-9907
          </a>
        </li>

        <li class="m-2">
          <a class="decoration-none white" href="sibagro.nic@gmail.com">
            <i class="fa fa-envelope-o orange m-2"></i>
            sibagro.nic@gmail.com
          </a>
        </li>

        <li class="m-2">
          <a class="decoration-none white" href="https://goo.gl/maps/N4Cdk8s9FdN2">
            <i class="fa fa-map-marker orange m-2"></i>
            Km 43 avenida sureste de la ciudad de Managua.
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg bg-dark-green p-3">
  <div class="container-fluid">

    <a class="navbar-brand sibagro-text white">
      <img class="ms-3" src="assets/img/logo.png" width="55px" height="64px">
      SIBAGRO
    </a>

    <button class="navbar-toggler fa-solid fa-bars bg-light-green white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

      <div class="col-xlg-6 col-lg-6 col-md-12 col-sm-12 col-xsm-12 margin-left">
        <div class="header-search">
          <form>
            <select class="input-select">
              <option value="0">Categorías</option>
              <option value="1">Granos</option>
              <option value="1">Maquinaria</option>
              <option value="1">Ganado</option>
            </select>
            <input class="p-2" placeholder="Artículos">
            <button class="search-btn">Buscar</button>
          </form>
        </div>
      </div>

      <li class="m-2 decoration-none">
        <a class="decoration-none white">
          <i class="fa fa-heart-o orange m-2"></i>
          Guardados
        </a>
      </li>

      <li class="m-2 decoration-none">
        <a class="decoration-none white">
          <i class="fa fa-user-o orange m-2"></i>
          Cerrar Sesión
        </a>
      </li>

    </div>

  </div>
</nav>