.bidding-main-container {
    /* height: 500px; */
}
.red {
    background-color: red;
    /* width: 100%;
    height: 600px; */
}
.blue {
    background-color: blue;
    /* margin-top: 20px;
    margin-left: 20px;
    width: 500px;
    height: 400px; */
}
