<div class="main-container">

    <div class="appointment-container animated fadeIn">
        <div class="Wrapper shadow-lg">
            <div class="title">
                <label class="h4">Crear Cuenta</label>
            </div>
            <div class="form">

                <div class="input_field">
                    <label>Correo</label>
                    <input type="text" class="input" required>
                </div>

                <div class="input_field">
                    <label>Contraseña</label>
                    <input type="text" class="input" required>
                </div>

                <div class="mt-5 mb-5">
                    <button class="btn btn-primary">Generar Credenciales</button>
                </div>

                <div class="input_field">
                    <label>Rol del Usuario</label>
                    <input type="text" class="input" required>
                </div>

                <div class="mt-4">
                    <button class="btn btn-primary">Guardar</button>
                </div>

            </div>
        </div>
    </div>

</div>