<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a class="white" id="a-menu" mat-list-item routerLink="init">
        <span id="ico-menu" class="material-icons">
          home
          </span>Inicio</a>
      <a class="white" mat-list-item routerLink="info" ><span id="ico-menu" class="material-icons">
        assignment_ind
        </span>Información personal</a>
      <a class="white" mat-list-item routerLink="sec" ><span id="ico-menu" class="material-icons">
        security
        </span>Seguridad</a>
      <a class="white" mat-list-item routerLink="pay" ><span id="ico-menu" class="material-icons">
        payment
        </span>pagos</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Sibagro</span>
    </mat-toolbar>
    
<!-- Add Content Here  We always need to add a routeroutlet  -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
