<div class="main-container">

    <div class="appointment-container animated fadeIn">
        <div class="Wrapper shadow-lg">
            <div class="title">
                <label class="h4">Editar Tipo de Solicitud</label>
            </div>
            <div class="form">

                <div class="input_field">
                    <label>Código de Solicitud</label>
                    <input type="text" class="input" required formControlName="Role_Id">
                </div>

                <div class="input_field">
                    <label>Nombre de Solicitud</label>
                    <input type="text" class="input" required formControlName="Role_Name">
                </div>

                <div class="input_field">
                    <label>Descripción</label>
                    <input type="text" class="input" required formControlName="Role_Description">
                </div>
                
                <div class="input_field">
                    <label>Descripción de Estado</label>
                    <input type="text" class="input" required formControlName="Role_Description">
                </div>

                <div class="mt-4">
                    <button class="btn btn-primary">Guardar</button>
                </div>
        </div>
    </div>

</div>
